body {
  background-color: #daf0f7;
  font-family: sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: sans-serif;
  color: #0077b6;
  text-align: center;
  margin: 20px 0 10px;
}

h2 {
  font-size: 20px;
  font-family: sans-serif;
  font-style: italic;
  color: #0077b6;
  text-align: center;
  margin: 20px 0 10px;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

button {
  background-color: #daf0f7;
  color: black;
  border: 2px solid #0077b6;
  padding: 16px 32px;
  margin: 10px;
  font-size: 18px;
  border-radius: 8px;
}

button:hover {
  background-color: #f8b62d;
  transform: scale(1.05);
}

img.weathericon {
  display: block;
  margin: 20px auto;
  width: 120px;
  height: auto;
}

.footer {
  background-color: #dcdddd;
  color: black;
  margin-top: 40px;
  padding: 10px 0;
}

.footer p {
  font-size: 10px;
}
