body {
  background-color: #daf0f7;
  font-family: sans-serif;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  margin: 20px 0 10px;
}

p {
  font-size: 16px;
  margin: 10px 0;
}
